*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
/vendor/*
/public_html/writes/*
/public_html/assets/*
*.sublime-project
*.sublime-workspace
z-cached*
/.idea/*
/config/*.php
/config/migrations/*
/public_html/assets/*
/public_html/img/gtmetrix/*
.DS_Store
/jobs/vendor/*
*.iml
/public_html/cron/lock
package-lock.json
.vscode
*_view*.html
/public_html/rangefinder/api/logins/**
/public_html/rangefinder/api/test.php