option_settings:
  aws:ec2:vpc:
    # AssociatePublicIpAddress: true
    Subnets: subnet-c2f0e0ab,subnet-70f1e119
    VPCId: vpc-cb0d1da2
    ELBScheme: internal

  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache

  aws:autoscaling:launchconfiguration:
    SSHSourceRestriction: tcp,22,22,4.4.19.2/0
    InstanceType: t2.micro
    SecurityGroups: sg-08d3c3f64b0681a63,sg-1d922579,sg-a89621cc

  # Add a application load balancer
  # The certificate for *.domain.com can be found in the AWS Certificate Manager
  aws:elb:listener:443:
    SSLCertificateId: arn:aws:acm:us-west-2:518305609580:certificate/17bfb439-ea78-4d0b-86ac-cbde80e84775
    ListenerProtocol: HTTPS
    InstancePort: 80
