#Platform:
#  PlatformArn: arn:aws:elasticbeanstalk:us-west-2::platform/PHP 8.0 running on 64bit Amazon Linux 2/3.3.9
#
#EnvironmentTier:
#  Type: Standard
#  Name: WebServer
#
option_settings:
  aws:ec2:vpc:
    # AssociatePublicIpAddress: true
    Subnets: subnet-c2f0e0ab,subnet-70f1e119
    VPCId: vpc-cb0d1da2
    ELBScheme: internal

  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: apache

  aws:autoscaling:launchconfiguration:
    SSHSourceRestriction: tcp,22,22,4.4.19.2/0
    InstanceType: t3a.medium
    SecurityGroups: sg-08d3c3f64b0681a63,sg-1d922579,sg-a89621cc

  # Add a application load balancer
  # The certificate for *.domain.com can be found in the AWS Certificate Manager
  aws:elb:listener:443:
    SSLCertificateId: arn:aws:acm:us-west-2:518305609580:certificate/1111111-1111-1111-1111-111111111111
    ListenerProtocol: HTTPS
    InstancePort: 80
